{% extends 'recipe/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <h1 style="color: azure; font-family: Candara">Welcome</h1>
    <hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Login</h2>
                    <br>
                    <h4>Please login below</h4>
                    <form class="form-horizontal" action="{% url 'account:login'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if form.errors %}
                            <p class="label label-danger">
                                Your username and password didn't match.
                                Please try again.
                            </p>
                        {% endif %}
                        <table>
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                                <br>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-success" value="Login">Login</button>
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}