{% extends 'recipe/base.html' %}
{% block title %}Update Profile{% endblock %}
{% load staticfiles %}

{% block content %}
    <h1 style="color: azure; font-family: Candara">Update Profile</h1>
    <hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Edit your profile</h4>
                    <form class="form-horizontal" action="{% url 'account:update-profile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'recipe/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}