{% extends "recipe/base.html" %}
{% block title %}Recipe List{% endblock %}

{% block content %}

    <h2 style="color: azure; font-family: Candara">All of your Recipes: </h2>
    <div class="container-fluid" style="color: azure; font-family: Candara">
        <ul>
            {% for recipe in object_list %}
                <li>
                    Title: {{ recipe.title }}<br>
                    Category: {{ recipe.category}}
                </li>
            {% empty %}
                <li>There are no recipes yet.</li>
            {% endfor %}

        </ul>
        <p>
            <a href="{% url 'recipe:create-recipe' %}">Add a New Recipe</a>
        </p>
    </div>
{% endblock %}